{% extends 'dashBoard/base.html' %}
{% block base-content %}

<div class="home-wrap">

<div class="home-content">
  <h1>Logs</h1>
  <div class="list">
<div class="list-item list-header">
<p style="flex-basis:15%;">Cell Number</p>
<p style="flex-basis:50%;">Message</p>
<p style="flex-basis:20%;">Name</p>
<p style="flex-basis:15%;">Time Received</p>
</div>
{% for i in logs %}
<a class="list-item">
<p style="flex-basis:15%;">{{i.number}}</p>
<p style="flex-basis:50%;">{{i.msg}}</p>
<p style="flex-basis:20%;">{{i.name}}</p>
<p style="flex-basis:15%;">{{i.time}}</p>
</a>
{% empty %}
<a href="#" class="list-item">
  <p style="flex-basis:15%;"></p>
  <p style="flex-basis:50%;">Nothing to display!</p>
  <p style="flex-basis:20%;"></p>
  <p style="flex-basis:15%;"></p>
</a>
{% endfor %}
</div>
</div>
</div>

{% endblock %}
