{% extends 'core.html' %}
{% block content %}
{% load staticfiles %}

<div class="header">

<div style="flex-basis:20%;"><a href="/" class="title">Nirva</a></div>

<div>
<a href="/offers">Offers</a>
<a href="/interests">Interests</a>
<a href="/groups">Groups</a>
<a href="/profiles">Members</a>
</div>

<div class="userMenu" style="flex-basis:20%;">
<p>{{user}}</p>
<p class="sep">/</p>
<a href="/settings">Settings</a>
<p class="sep">/</p>
<a href="/help">Help</a>
<p class="sep">/</p>
<a href="/logout">Logout</a>
</div>

</div>

<div class="base-content">
{% block base-content %}
{% endblock %}
</div>

{% endblock %}
