{% extends 'dashBoard/base.html' %}
{% block base-content %}

<div class="home-wrap">

<div class="home-content">
  <h1>Groups</h1>
  <div class="list">
<div class="list-item list-header">
<p class="item-title">Name</p>
<p class="item-active">Active</p>
<p class="item-answers">Answers</p>
</div>
{% for i in groups %}
<a href="#" class="list-item">
<p class="item-title">{{i.name}}</p>
<p class="item-active">{{i.active}}</p>
<p class="item-answers"></p>
</a>
{% empty %}
<div class="list-item">
<p class="item-title">Nothing to display!</p>
<p class="item-active"></p>
<p class="item-answers"></p>
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}
