{% extends 'dashBoard/base.html' %}
{% block base-content %}

<div class="home-wrap">

<div class="home-content">
  <h1>Reports</h1>
  <div class="list">
<div class="list-item list-header">
  <p style="flex-basis:5%;">Id</p>
  <p style="flex-basis:65%;">Name</p>
  <p style="flex-basis:15%;">Created</p>
  <p style="flex-basis:15%;">Answers</p>
</div>
{% for i in reports %}
<a href="#" class="list-item">
<p style="flex-basis:5%;">{{i.pk}}</p>
<p style="flex-basis:65%;">{{i.name}}</p>
<p style="flex-basis:15%;">{{i.created}}</p>
<p style="flex-basis:15%;">{{i.answers}}</p>
</a>
{% empty %}
<div class="list-item">
  <p style="flex-basis:5%;"></p>
  <p style="flex-basis:65%;">Nothing to display!</p>
  <p style="flex-basis:15%;"></p>
  <p style="flex-basis:15%;"></p>
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}
