{% extends 'dashBoard/base.html' %}
{% block base-content %}

<div class="home-wrap">

<div class="home-content">
  <h1>interests</h1>
  <div class="list">
    <a href="/interests/new" class="list-add"><i class="fa fa-plus" aria-hidden="true"></i></a>
<div class="list-item list-header">
<p style="flex-basis:80%;">Name</p>
<p style="flex-basis:20%;">Members</p>
</div>
{% for i in interests %}
<a href="/interests/{{i.pk}}" class="list-item">
<p style="flex-basis:80%;">{{i.name}}</p>
<p style="flex-basis:20%;">{{i.members}}</p>
</a>
{% empty %}
<div class="list-item">
<p style="flex-basis:80%;">Nothing to display!</p>
<p style="flex-basis:20%;"></p>
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}
